.dream-job-container{
    display: flex;
    margin-top: 30px;
    padding: 0 60px;
}

.person-img{
    background-color: lightgray -124.95px 0px / 136.875% 100% no-repeat;
}

.person-img img{
    width: 500px;
    height: 450px;
    flex-shrink: 0;
    background-color: lightgray -124.95px 0px / 136.875% 100% no-repeat;
}

.quotes{
    margin: 10px 40px 15px 0;
}

.quote{
    color: var(--Dark-01, #1A1919);
    font-family: Manrope;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 125% */
    margin: 15px 30px 10px 0;
}

.quote-dream{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}