.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    padding: 10px 50px 20px 80px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.header-container img{
    height: 80px;
    width: 200px;
}

nav a{
    padding: 0 20px;
    color: black;
}

.apply-btn{
    border-radius: 8px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
}

.apply-btn:hover {
    background: orange;
}

.header-container.home-page {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.header-container:not(.home-page) {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%), url('../../../assets/images/bg2.png') right top;
    background-repeat: no-repeat;
    padding-bottom: 95px;
}